.text {
  width: 100%;
  text-align: center;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 20px 30px;
  border: 1px solid gray;
}

.input-group {
  margin-bottom: 10px;
}

.label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.input {
  padding: 5px 10px;
}

.btn {
  margin-top: 20px;
  background-color: blue;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
}

.error {
  color: red;
}

